.manage-your-company {
  h6,
  h3 {
    font-family: 'open-sans-regular',sans-serif;
  }
  h3 {
    margin-top: 50px;
  }

}
.hr-grey {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}