.onoffswitch {
  position: relative;
  width: 140px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0px;
  box-shadow: 0 0 10px #ccc;
  padding-left: 0;
}
input[type=checkbox]:checked+label.onoffswitch-label:before,
.onoffswitch label:before,
.switch-field label:before {
  display: none;
}
.onoffswitch-inner,
.yesnoswitch-inner{
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 40px; padding: 0; line-height: 40px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner {
  &:before {
    content: "ON";
    padding-left: 10px;
    background-color: #3D3BFF;
    color: #FFFFFF;
  }
  &.yes {
    &:before {
      content: 'YES';
    }
  }
}
.onoffswitch-inner {

  &:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #DCDCDC;
    text-align: right;
  }
  &.yes {
    &:after {
      content: 'NO';
    }

  }
}
.onoffswitch-switch {
  flex: 0 0 250px;
  display: block;
  width: 70px;
  height: 40px;
  margin: 0px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 70px;
  border-radius: 0px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  background-color: #e4e4e4;
  color: #fff;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  box-shadow: 0 0 10px #ccc;
  transition:  all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #3D3BFF;
  box-shadow: none;
}
.person-connect {
  display: flex;
  align-items: center;
  .person-name {
    margin-right: 10px;
    line-height: 1;
    text-align: right;
  }
  .person-img {
    width: 65px;
    height: 65px;
    background: #000;
  }
}
