<header class="header"> <!-- header-hover -->
    <div class="container header-container">
        <a href="/" class="logo">
            <img src="img/logo.png" alt="logo" title="Gurupeople" class="big-logo">
            <img src="img/logo.jpg" alt="logo" title="Gurupeople" class="small-logo">
        </a>
        <div class="dropdown content-search">
            <input type="text" name="search" placeholder="Search Gurupeople..." class="dropbtn">
            <div class="dropdown-content">
                <div class="search-header">
                    <p>People</p>
                    <a href="" class="btn-more">More</a>
                </div>
                <div class="search-dropdown">
                    <div class="img-circle" style="background-image: url('/img/article-img.jpg')"></div>
                    <p class="msg-person_name">NAme name</p>
                </div>
                <div class="search-dropdown">
                    <div class="img-circle" style="background-image: url('/img/article-img.jpg')"></div>
                    <p class="msg-person_name">NAme name</p>
                </div>
                <div class="search-header">
                    <p>Publications</p>
                    <a href="" class="btn-more">More</a>
                </div>
                <div class="search-dropdown">
                    <div class="img-circle" style="background-image: url('/img/article-img.jpg')"></div>
                    <p class="msg-person_name">NAme name</p>
                </div>
                <div class="search-dropdown">
                    <div class="img-circle" style="background-image: url('/img/article-img.jpg')"></div>
                    <p class="msg-person_name">NAme name</p>
                </div>
            </div>
        </div>

        <div class="hover-info">
            <a href="">
                <img src="/img/plane.png" alt="">
            </a>
            <a href="" class="ring">
                <img src="/img/bell.png" alt="">
                <span class="blue-cicle">3</span>
            </a>
            <div class="person">
                <div class="person-photo">
                    <img src="/img/article-img3.jpg" alt="">
                </div>
                <div class="person-dropdown">
                    <button class="dropbtn">Ecaterina</button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hover-info dropdown">
            <div class="header-msg">
                <div class="dropbtn">
                    <a class="msg-icon">
                        <img src="img/plane.png" alt="">
                        <span class="blue-cicle">3</span>
                    </a>
                </div>
                <div class="dropdown-content">
                    <div class="msg-person">
                        <div class="img-circle img-small">
                            <img src="/img/portrait.png" alt="">
                        </div>
                        <div class="msg-person_text">
                            <p class="msg-person_name">Milesti Maria</p>
                            <p class="msg-person_msg">
                                <span class="msg-check"></span>
                                Salut! Ce faci?</p>
                        </div>
                        <p class="small-text msg-date">Dec 12, 2018</p>
                    </div>
                    <div class="msg-person unread-msg">
                        <div class="img-circle img-small">
                            <img src="/img/portrait.png" alt="">
                        </div>
                        <div class="msg-person_text">
                            <p class="msg-person_name">Milesti Maria</p>
                            <p class="msg-person_msg">
                                <span class="msg-check"></span>
                                Salut! Ce faci?</p>
                        </div>
                        <p class="small-text msg-date">Dec 12, 2018</p>
                    </div>
                    <div class="msg-person">
                        <div class="img-circle img-small">
                            <img src="/img/portrait.png" alt="">
                        </div>
                        <div class="msg-person_text">
                            <p class="msg-person_name">Milesti Maria</p>
                            <p class="msg-person_msg">
                                <span class="msg-check"></span>
                                Salut! Ce faci?</p>
                        </div>
                        <p class="small-text msg-date">Dec 12, 2018</p>
                    </div>
                </div>
            </div>

            <div class="ring-content">
                <div class="dropbtn">
                    <a class="ring">
                        <img src="/img/bell.png" alt="">
                        <span class="blue-cicle">3</span>
                    </a>
                </div>

                <div class="dropdown-content">
                    <a href="#">
                        <div class="img-circle" style="background-image: url('/img/article-img.jpg')"></div>
                        <div class="ring-text">
                            <p>Need NewNeed NewNee
                                d NewNeed NewNeed N</p>
                            <p class="small-text">Aug 2018</p>
                        </div>

                    </a>
                    <a href="#">
                        <div class="img-circle" style="background-image: url('/img/article-img.jpg')"></div>
                        <div class="ring-text">
                            <p>Need NewNeed NewNee
                                d NewNeed NewNeed N</p>
                            <p class="small-text">Aug 2018</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="img-circle" style="background-image: url('/img/article-img.jpg')"></div>
                        <div class="ring-text">
                            <p>Need NewNeed NewNee
                                d NewNeed NewNeed N</p>
                            <p class="small-text">Aug 2018</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="person">
                <div class="person-photo">
                    <img src="/img/article-img3.jpg" alt="">

                </div>
                <div class="dropdown">
                    <button class="dropbtn btn-arrow">Ecaterina</button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>
