<div class="menu">
    <div class="container">
        <h4 class="text-white">How can we help ?</h4>
        <div class="input-search">
            <input type="text" name="search" class="">
            <button class="btn btn-white btn-search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
        <h3>
            <a href="index.html">
                <span class="text-black">Best</span>
                <span class="text-white">Geek</span>
            </a>
        </h3>
    </div>

</div>
