<header class="header header-hover">
    <div class="header-container">
        <a href="/" class="logo">
            Best<span class="text-orange">Geek</span>
        </a>
        <div class="dropdown-search content-search">
            <div class="input-search">
                <input type="text" name="search" class="">
                <button class="btn btn-orange btn-search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>

            <div class="dropdown-content-search">
                <div class="search-header">
                    <p>Check out these similar questions. Don’t you see yours ? Ask a new one!</p>
                </div>
                <ul class="search-dropdown">
                    <li class="search_result">
                        <a href="">What are the best jobs to have ?
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>

                    </li>
                    <li class="search_result">
                        <a href="">What are the best jobs in the world ?
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>

                    </li>
                    <li class="search_result">
                        <a href="">What are the best jobs in UK?
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>

                    </li>
                    <li class="search_result">
                        <a href="">What are the best jobs in the air force?
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="search_result">
                        <a href="">What are the best jobs for over 50?
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>


            </div>
        </div>

        <nav class="">
            <a href="" class="text-orange nav-link">
                <img src="img/read.png" alt="read icon" class="nav-icon">
                Read</a>
            <a href="" class="nav-link">
                <img src="img/answer.png" alt="" class="nav-icon">
                Answer</a>
            <a href="" class="nav-link">
                <img src="img/spaces.png" alt="" class="nav-icon">
                Spaces</a>
            <a href="" class="nav-link">
                <img src="img/notification.png" alt="" class="nav-icon">
                Notification
                <span class="notification-circle">
                    <span class="notification-number">13</span>
                </span>
            </a>
        </nav>


        <div class="hover-info dropdown">

            <div class="person">
                <p class="person-name">Dumitru Birchin</p>
                <div class="person-photo">
                    <img src="img/photo.jpg" alt="">

                </div>
                <div class="dropdown">
                    <button class="dropbtn btn-arrow">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Help</a>
                        <a href="#">Profile</a>
                        <a href="#">Blogs</a>
                        <a href="#">Messages</a>
                        <a href="#">Your Content</a>
                        <a href="#">Stats</a>
                        <a href="#">Create Ad</a>
                        <a href="#">Settings</a>
                        <div class="dropdown-footer">
                            <a href="">About</a>
                            <a href="">Careers</a>
                            <a href="">Terms</a>
                            <a href="">Acceptable Use</a>
                            <a href="">Privacy</a>
                            <a href="">Businesses</a>
                            <a href="">Language</a>
                            <a href="">Logout</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <button class="btn btn-flat btn-transparent btn-menu">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>

    </div>
</header>
