<div class="dialog">
    <a href="" id="tos_top"> </a>
    <div class="full-post">
        <div class="short-post_header">
            <div class="short-post_person">
                <div class="img-user">
                    <img src="img/user.png" alt="">
                </div>
                <div class="person-details">
                    <h5>Sara Gomez</h5>
                    <p class="post-topic">5 Tips For Offshore Software Development</p>
                </div>
            </div>
            <div>
                <div class="topic-name text-right">Food, Science, Health</div>
                <div class="post-time text-right">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span>2 minute ago</span>
                </div>
            </div>

        </div>
        <div class="short-post_body">
            <h5>Advertisers Embrace Rich Media Format ?</h5>
            <div class="full-post_text_img">
                <p>I want to talk about to things that are quite important to me. There are love and one my personal inadequacies. The thing is that I’m quite fond of love, I think that it’s a pretty all right deal. However, I’m going to have to admit that my emotional baggage has built up walls that not even a shock and awe campaign could bring down. But I do love. And in fact I even love unconditionally…</p>
                <div class="full-post_img">
                    <img src="img/exp.jpg" alt="">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Neque egestas congue quisque egestas diam in arcu. Tellus at urna condimentum mattis. Urna et pharetra pharetra massa massa ultricies. Interdum posuere lorem ipsum dolor sit. Sit amet venenatis urna cursus. Lorem sed risus ultricies tristique nulla aliquet enim. Lectus arcu bibendum at varius vel pharetra vel turpis. Volutpat lacus laoreet non curabitur. Aliquam faucibus purus in massa tempor nec feugiat nisl. Quisque non tellus orci ac.</p>


            </div>

        </div>
        <div class="short-post_footer">
            <div class="short-post_footer_block">
                <div class="short-post_rating rating-up">
                    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                    <span>23456</span>
                </div>
                <div class="short-post_rating rating-down">
                    <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                    <span>23886</span>
                </div>
                <div class="short-post_comment">
                    <img src="img/comment.png" alt="">
                    <span>79</span>
                </div>
            </div>
            <div class="short-post_footer_block">
                <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-share" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
            </div>

        </div>
    </div>

    <div class="add-comment">
        <div class="add-comment_input">
            <div class="add-comment_img">
                <img src="img/user.png" alt="">
            </div>
            <textarea rows="1" placeholder="Add a comment…"></textarea>
        </div>
        <div class="comments">
            <div class="comment-block">
                <div class="add-comment_input">
                    <div class="add-comment_img">
                        <img src="img/user.png" alt="">
                    </div>
                    <div class="comment-name">
                        <a class="person-link">Mollie Martin</a>
                        <p class="post-topic">Life Advice Looking Through A Window</p>
                    </div>
                </div>
                <div class="comment-body">
                    <p>Being able to foresee an unfortunate fact of life like death, disasters, illnesses, etc. through a dream is very common. Anyone may dream of something good or bad happening to someone else or even to themselves. Do dreams serve as a premonition?</p>
                </div>
                <div class="comment-footer">
                    <button type="button" class="btn-reply">Reply</button>
                    <div class="short-post_rating rating-up">
                        <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                        <span>23456</span>
                    </div>
                    <div class="short-post_rating rating-down">
                        <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                        <span>23886</span>
                    </div>
                </div>
            </div>
            <div class="comment-block">
                <div class="add-comment_input">
                    <div class="add-comment_img">
                        <img src="img/user.png" alt="">
                    </div>
                    <div class="comment-name">
                        <a class="person-link">Mollie Martin</a>
                        <p class="post-topic">Life Advice Looking Through A Window</p>
                    </div>
                </div>
                <div class="comment-body">
                    <p>Being able to foresee an unfortunate fact of life like death, disasters, illnesses, etc. through a dream is very common. Anyone may dream of something good or bad happening to someone else or even to themselves. Do dreams serve as a premonition?</p>
                </div>
                <div class="comment-footer">
                    <button type="button" class="btn-reply">Reply</button>
                    <div class="short-post_rating rating-up">
                        <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                        <span>23456</span>
                    </div>
                    <div class="short-post_rating rating-down">
                        <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                        <span>23886</span>
                    </div>
                </div>
            </div>
            <div class="comment-block">
                <div class="add-comment_input">
                    <div class="add-comment_img">
                        <img src="img/user.png" alt="">
                    </div>
                    <div class="comment-name">
                        <a class="person-link">Mollie Martin</a>
                        <p class="post-topic">Life Advice Looking Through A Window</p>
                    </div>
                </div>
                <div class="comment-body">
                    <p>Being able to foresee an unfortunate fact of life like death, disasters, illnesses, etc. through a dream is very common. Anyone may dream of something good or bad happening to someone else or even to themselves. Do dreams serve as a premonition?</p>
                </div>
                <div class="comment-footer">
                    <button type="button" class="btn-reply">Reply</button>
                    <div class="short-post_rating rating-up">
                        <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                        <span>23456</span>
                    </div>
                    <div class="short-post_rating rating-down">
                        <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                        <span>23886</span>
                    </div>
                </div>
            </div>
            <button class="btn btn-view-more btn-flat">View More</button>
        </div>
    </div>
</div>